# ESP-IDF build artifacts
sdkconfig
sdkconfig.old
build/
dependencies.lock
*.bin
*.elf
*.map
*.o
*.a
*.so
*.d
*.gcno
*.gcda
*.gcov
*.bin
!firmware/*.bin

# IDE
.vscode/
.idea/
*.swp
*~

# Windows
Thumbs.db
Desktop.ini

# Backup files
*копия*
*.bak
*.test
*.orig

# Logs
*.log
idf_py_stderr_output_*
idf_py_stdout_output_*
